div.message {
	color: red;
	font-style: italic;
}

div.page_content {
	position: relative;
	margin: 0 auto;
	top: 80px;
	width: 90%;
	height: auto;
	border-width: 1px;
	border-style: none;
	border-radius: 5px;
	padding: 40px;
}



span.build_status_never_built{
		color: #000000;
		background-color: #ffffff;
		font-weight: normal;
		padding: 7px;
		text-transform: capitalize;
}
span.build_status_in_progress{
		color: #000000;
		background-color: #ffffda;
		font-weight: bold;
		padding: 7px;
		text-transform: capitalize;
}

span.build_status_failed{
		color: #a30000;
		background-color: #ffdada;
		font-weight: bold;
		padding: 7px;
		text-transform: capitalize;
}

span.build_status_violation{
		color: #82663d;
		background-color: #fee1cd;
		font-weight: bold;
		padding: 7px;
		text-transform: capitalize;
}

span.build_status_success{
		color: #00A300;
		font-weight: normal;
		padding: 7px;
		text-transform: capitalize;
}

/* FORM DATA */

input[type="text"].param, input[type="password"].param {
	width: 400px;
}

textArea.param{
	font-family: monospace;	
}

table.formTable {
	border: none;
}

table.formTable tr td{
	padding: 5px;
}

td.formFieldName {
	text-align: right;
	padding-right: 10px;
}

/* LIST TABLE */

table.listTable {
	
}

table.listTable tr {
}

table.listTable tr td{
	padding: 1px;
	height: 35px;
}

table.listTable tr td a{
	padding: 8px;
}

table.listTable tr td a:hover {
	text-decoration: none;
	background-color: #f3f3fa;
}

img.listButton{
	width: 20px;
	height: 20px;
}

a.listButton {
	margin-left: 0px;
	margin-right: 0px;
}

/* NAVBAR */
div.navbar {
	background-color: #3b4254;
	overflow: hidden;
	height: 50px;
	position: absolute;
	top: 0px;
	width: 100%;
	border-radius: 0;
}

ul.navbar {
	list-style-type: none;
	float: right;
	margin-right: 100px;
}

ul.navbar li {
	vertical-align: bottom;
	float: left;
}

ul.navbar li a {
	display: block;
	color: white;
	height: 50px;
	text-decoration: none;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 11px;
	font-family: "Helvetica", Helvetica, Verdana, Arial, sans-serif;
	font-size: 18px;
}

img.navbar_logo {
	padding-left: 75px;
	padding-top: 11px;
	float: left;
}

ul.navbar li a:hover {
	background-color: #00639c;
}

ul.navbar li a img {
	margin-top: 5px;
	height: 16px;
}

ul.navbar li.title {
	color: white;
	font-family: "Helvetica", Helvetica, Verdana, Arial, sans-serif;
	font-size: 37px;
	margin-top: -11px;
	margin-left: -6px;
	margin-right: 80px;
}

.footer {
 	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
    text-align: center;
    background-color: #f2f2f2;
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    font-size: 10px;
}